//Colors
$white:#ffff;
$gold:#ffd700;
$red: #ff0000; 
$grey: #808080;
$black: #000000;
$dark-blue: #2136d9;
$yellow: #f4f40e;
$green:  #00E600;
$dark-grey: #333333;

//Font-sizes
$default-font-size: 1.6rem;
$default-card-size: 1.2rem;
$default-card-header-size: 1.8rem;
$default-font-size-2: 1.4rem;
$default-header-size: 2.5rem;
$default-welcome-text-size: 3.5rem;
