.welcome{
    position: relative;
    background-image: url("./img/diane-picchiottino-s6D7dw6w5h8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    &__text{
        position: absolute;
        top: 38.5%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-transform: uppercase;
        font-size: $default-welcome-text-size;
        font-weight: 600;
        
    }
}

.services-section{
    background-color: $white;
    

    &__content {
        
        h1{
            font-size: $default-header-size;
            text-align: center;
            padding-top: 20px;
        }

        .cardd {
            padding: 4rem;
        }
    }
}

.career-section{
    position: relative;
    background-image: linear-gradient(to right, rgba($gold, 0.80), rgba($yellow, 0.80)),url("./img/mikolaj-felinski-r1poXNhANx4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    &__text{
      padding-top: 5rem;
    }

    &__content{
        text-align: center;
        align-items: center;
        
       h1{
         font-size: $default-header-size;
       } 


    }

    &__personel {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        

        .career-section__group1{
            font-size: $default-font-size;
            display: flex;
            padding-top: 10rem;
            gap: 5rem;
            padding-left: 8rem;
            
            .biopic{
                width: 15rem;
                height: 15rem;
                float: left;
                position: relative;
               

                .cmembers{
                    width: 100%;
                    height: 100%; 
                    border-radius: 50%;
                    -webkit-shape-outside: circle(50% at 50% 50%);
                    shape-outside: circle(50% at 50% 50%);
                    -webkit-clip-path: circle(50% at 50% 50%);
                    clip-path: circle(50% at 50% 50%);
                    object-fit: cover; 
                }
            }

            .career-section__p1{
                background-color: $white;
                width: 45%;
                padding: 2rem;
                cursor: pointer;
                transition: transform .2s;
                
                
                
                h3{
                   
                    padding-top: 2rem;
                    text-transform: uppercase;
                }

                p{
                    padding-top: 1.5rem;
                   
                }

            }

            .career-section__p1:hover {
                transform: translateY(-2rem) scale(1.05);
            }

            .career-section__p2{
                background-color: $white;
                width: 45%;
                padding: 2rem;
                cursor: pointer;
                transition: transform .2s;
                
                
                h3{
                   
                    padding-top: 2rem;
                    text-transform: uppercase;
                }

                p{
                    padding-top: 1.5rem;
                   
                }

            }

            .career-section__p2:hover {
                transform: translateY(-2rem) scale(1.05);
            }
        }

        .career-section__group2{
            font-size: $default-font-size;
            display: flex;
            padding-top: 10rem;
            gap: 5rem;
            padding-left: 8rem;

            .biopic{
                width: 15rem;
                height: 15rem;
                float: left;
                position: relative;
               

                .cmembers{
                    width: 100%;
                    height: 100%; 
                    border-radius: 50%;
                    -webkit-shape-outside: circle(50% at 50% 50%);
                    shape-outside: circle(50% at 50% 50%);
                    -webkit-clip-path: circle(50% at 50% 50%);
                    clip-path: circle(50% at 50% 50%);
                    object-fit: cover; 
                }
            }


            .career-section__p3{
                background-color: $white;
                width: 45%;
                padding: 2rem;
                cursor: pointer;
                transition: transform .2s;
                
                
                h3{
                   
                    padding-top: 2rem;
                    text-transform: uppercase;
                }

                p{
                    padding-top: 1.5rem;
                   
                }

            }

            .career-section__p3:hover{
                transform: translateY(-2rem) scale(1.05);
            }

            .career-section__p4{
                background-color: $white;
                width: 45%;
                padding: 2rem;
                cursor: pointer;
                transition: transform .2s;
                
                
                h3{
                   
                    padding-top: 2rem;
                    text-transform: uppercase;
                }

                p{
                    padding-top: 1.5rem;
                   
                }

            }

            .career-section__p4:hover{
                transform: translateY(-2rem) scale(1.05);
            }
        }   

        
    }

    

    
}

.about-section {
    position: relative;
    background-image: url("./img/group-trucks-parked-row.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 20, 0.8); // dark overlay
      z-index: 1;
    }
    
    
    &__content{
        position: relative;
        z-index: 2; // Above the overlay
        padding: 2rem;
        text-align: center;
        font-size: $default-header-size;
        color: $white;
        padding-top: 12rem;
        

        p {
            padding-top: 2rem;
            font-size: $default-header-size;
        }
        
        

    }
}

.comp-section {
    background-color: $dark-grey;
    color: $yellow;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: $default-font-size;

    &__content{
        display: flex;
        flex-direction: row;
        
        p {
            padding: 2rem;
            margin: 0 auto;
        }
    }
}


.comp-section2 {
    background-color: $dark-grey;
    color: $yellow;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: $default-font-size;

    &__content{
        display: flex;
        flex-direction: row;
        
        p {
            padding: 2rem;
            margin: 0 auto;
        }
    }
}